<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>midnight chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>suggested guidelines</h1>
	<ul>
		<li>no content illegal in the United States of America (pornography, terrorism)</li>
		<li>no spam or flooding - keep messages unique and purposeful</li>
		<li>no harassment or doxxing</li>
		<li>minimal advertisement and self-promotion</li>
		<li>please refrain from impersonating staff. official announcements will always appear in the <a href="/announcements">announcements</a>.</li>
		<li>no ddos to the server - the server is globally rate limited and will pause requests from your ip</li>
	</ul>
	<h2>register your username</h2>
	<p>
		if you want to make sure nobody steals your username, email me at Themadpunter at proton dot me to request a username. my public key is at <a href="https://pastebin.com/VtYP3Utu">https://pastebin.com/VtYP3Utu</a>. please send a pgp-encrypted message with the username you wish to request, as well as a password. don't use the same password as any other site.
	</p>
</body>