<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>midnight chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>suggested guidelines</h1>
	<ul>
		<li>no content illegal in the United States of America (pornography, terrorism)</li>
		<li>no spam or flooding - keep messages unique and purposeful</li>
		<li>no harassment or doxxing</li>
		<li>minimal advertisement and self-promotion</li>
		<li>please refrain from impersonating staff. official announcements will always appear in the <a href="/announcements">announcements</a>.</li>
		<li>no ddos to the server - the server is globally rate limited and will pause requests from your ip</li>
	</ul>
</body>